__pycache__/
sim_build/
runs/
*.vvp
*.fst
*.gtkw
*.a
*.o
*.elf
*.bin
*.hex

extract_script.tcl
extraction/
feedback.txt

lvs_script.tcl
netgen_lvs.json
netgen_lvs.rpt
out.def

sg13g2_minimal.lyrdb
drc_run_*

IHP-Open-PDK/
final/
macro/

# Slang-converted sources
greyhound_ihp_top_slang.sv
greyhound_soc_slang.sv
