# SPDX-FileCopyrightText: © 2018 ETH Zurich and University of Bologna
# SPDX-License-Identifier:  Apache-2.0
# SPDX-FileContributor: Modified by Stefan Huwar <stefan.huwar@gmail.com>

debug_level 2

adapter speed     10000
adapter driver remote_bitbang
remote_bitbang host localhost
remote_bitbang port 9999
transport select jtag

set _CHIPNAME greyhound
jtag newtap $_CHIPNAME fabric -irlen 5 -expected-id 0x04646001
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x05256001

foreach t [jtag names] {
    puts [format "TAP: %s" $t]
}

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME -rtos hwthread
# Fabric has no openocd target

proc jtag_init {} {
    puts "Init Greyhound"

    irscan greyhound.fabric 16
    drscan greyhound.fabric 1 1

    runtest 10

    # JTAG interface operational
    puts "JTAG interface enabled, system reset should be released now..."

	if {[catch {jtag arp_init} err]!=0} {
		# try resetting additionally
		init_reset startup
	}
}

riscv set_command_timeout_sec 2000

# prefer to use sba for system bus access
riscv set_mem_access sysbus

# dump jtag chain
scan_chain

init

halt
echo "Ready for Remote Connections"
